@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
/* font-family: 'Space Mono', monospace; */

* {
  font-family: 'Space Mono', monospace;
}

body {
  margin: 0;
  background-color:hsl(185, 41%, 84%);
}

.title {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

/* white box that contains the calculator */
.calculator {
  background: #fff;
  padding: 15px;
  border-radius: 20px;
  margin-left: 29%;
  margin-right: 29%;
}

/* row and column make the columns evenly split down the middle */
.row, .row2 {
  display: flex;
}

.column, .column2 {
  flex: 50%;
  margin-left: 2%;
}

/* hides arrows in text boxes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

/* changes titles of left side */
label {
  display: block;
  position: relative;
  text-align: left;
  color: hsl(186, 14%, 43%);
  font-size: 15px;
  font-weight: 700;
  margin-top: 7%;
  margin-bottom: 10px;
}

/* edits text boxes of left column */
#bill, #numOfPeople {
  display: flex;
  width: 100%;
  height: 40px;
  background: url(file:///C:/Users/ryanc/OneDrive/Documents/GitHub/tip-calculator-app-main/images/icon-dollar.svg) no-repeat left 10px center;
  font-family: 'Space Mono', monospace;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  font-size: 24px;
  border-radius: 5px;
  text-align: right;
  background-color: hsl(189, 41%, 97%);
  border: transparent;
  margin-bottom: 25px;
}

#numOfPeople {
  background: url(file:///C:/Users/ryanc/OneDrive/Documents/GitHub/tip-calculator-app-main/images/icon-person.svg) no-repeat left 10px center;
  background-color: hsl(189, 41%, 97%);
}

/* adds green border around text boxes when clicked on */
#bill:focus, #numOfPeople:focus, #custom:focus {
  outline: none;
  border-radius: 5px;
  transition: 0.3 ease;
  box-shadow: 0 0 1pt 1.5pt hsl(172, 67%, 45%);
}

button {
  color: #fff;
  width: 117px;
  height: 50px;
  border-radius: 5px;
  border: transparent;
  margin-bottom: 8px;
  font-family: 'Space Mono', monospace;
  font-size: 19px;
  background-color: hsl(183, 100%, 15%);
  cursor: pointer;
}

#custom {
  width: 112px;
  height: 50px;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
  border: transparent;
}

#custom::placeholder {
  color: hsl(186, 14%, 43%);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

/* beginning of right column */
.results{
  background-color: hsl(183, 100%, 15%);
  border-radius: 5px;
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 5%;
}

#tipAmt, #total {
  font-family: 'Space Mono', monospace;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 2px;
}

.person {
  color: hsl(184, 14%, 56%);
  font-size: 12px;
  font-weight: 700;
  margin-top: 2px;
  margin-left: 25px;
}


.reset input[type="button"] {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  font-size: 14px;
  font-weight: 900;
  width: 250px;
  height: 40px;
  position: relative;
  margin: 0;
  left: 50%;
  margin-top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: transparent;
  border-radius: 5px;
}

#tipAmtResults, #totalAmt {
  color: hsl(172, 67%, 45%);
  text-align: right;
  font-size: 30px;
  font-weight: 700;
  margin-top: 36px;
  margin-right: 25px;
  margin-bottom: 2px;
}